{% extends "base.html.twig" %}

{% block body %}
	<div class="container">
		{{ form_start(form) }}
		{{ form_widget(form) }}
		{{ form_end(form) }}
		<a href="{{path('task_listing')}}" class="btn btn-secondary mx-auto">{{'general.button.back_to_list'|trans}}</a>
	</div>
{% endblock %}
