{% extends 'base.html.twig' %}

{% block title %}Liste des tâches
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css">
	<link href="{{ asset('assets/css/styles.css') }}" rel="stylesheet"/>
{% endblock %}

{% block body %}

	<div class="container">

		{% if is_granted("ROLE_ADMIN")%}
			<a href="{{path('user_listing')}}" class="btn btn-info mx-auto">{{'general.button.list_user'|trans}}</a>
			<a href="{{path('tag_listing')}}" class="btn btn-info mx-auto">{{'general.button.list_tag'|trans}}</a>
		{% endif %}
		<br><br>

		<h1 class="d-flex justify-content-center mb-5">{{ 'general.title_list_task' | trans }}</h1>

		<a href="{{path('task_archives')}}" class="btn btn-primary mx-auto">{{'general.button.go_to_archives'|trans}}</a>
		<a href="{{path('task_download')}}" class="btn btn-primary mx-auto">{{'general.button.download_pdf'|trans}}</a>
		<a href="{{path('task_create')}}" class="btn btn-primary mx-auto">{{'general.button.add'|trans}}</a>

		{% for label, messages in app.flashes %}
			{% for message in messages %}
				<div class="alert alert-{{ label }}">
					{{message|trans}}
				</div>
			{% endfor %}
		{% endfor %}


		<div class="text-start mb-3">
			<label for="archives">{{'general.lblArchive'|trans}}
				:
			</label>
			<select name="archives" id="selectedValues" onchange='location = this.value;'>
				<option value="" selected></option>
				<option value="archives_auto">Auto</option>
				<option value="archives_manual">Manuel</option>
			</select>
		</div>
		{% include 'task/task_listing.html.twig' %}
	</div>
{% endblock %}
{% block javascripts %}
	<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
	<script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
	<script src="https://cdn.datatables.net/plug-ins/1.10.11/sorting/date-eu.js"></script>
	<script>
		$(document).ready(function () {
$('#tasksTable').DataTable({

"order": [
[3, "asc"]
],
"columnDefs": [
{
"targets": 3,
"type": "date-eu"
}
],

language: {
"sLengthMenu": "{% trans from 'messages' %}datatables.sLengthMenu                {% endtrans %}",
"sSearch": "{% trans from 'messages' %}datatables.sSearch                {% endtrans %}",
"sInfo": "{% trans from 'messages' %}datatables.sInfo                {% endtrans %}",
"sInfoEmpty": "{% trans from 'messages' %}datatables.sInfoEmpty                {% endtrans %}",
"sInfoFiltered": "(filtered from _MAX_ total records)",
"paginate": {
"first": "{% trans from 'messages' %}datatables.first                {% endtrans %}",
"previous": "{% trans from 'messages' %}datatables.previous                {% endtrans %}",
"next": "{% trans from 'messages' %}datatables.next                {% endtrans %}",
"last": "{% trans from 'messages' %}datatables.last                {% endtrans %}"
}
}
});
});
	</script>
{% endblock %}
