{# templates/emails/alert.html.twig #}
<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
	</head>
	<body style="text-align : center;">
		<h1>ATTENTION!!
			{{username}}</h1>
		<h1>Votre tâche
			{{task}}
			arrive à échéance le
			{{dueAt}}</h1>
		<div class="container">
			<table class="table table-striped tabled-bordered" id="tasksTable">
				<caption>Le résumé de votre tâche</caption>
				<thead>
					<tr>
						<th>Nom</th>
						<th>Description</th>
						<th>Date effective</th>
						<th>Catégorie</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>{{task}}</td>
						<td>{{descritpion}}</td>
						<td>{{dueAt}}</td>
						<td>{{category}}</td>
					</tr>
				</tbody>
			</table>
		</div>
		<p>Votre AppToDo adorée</p>
	</body>
</html>
