{% extends "pdf/base-pdf.html.twig" %}
{% block body %}
	<table border="1" id="tasksTable">
		<thead>
			<tr>
				<th>{{ task.name }}</th>
				<th>{{ task.description }}</th>
				<th>{{ task.dueAt | date('d/m/Y') }}</th>
				<th>{{ task.tag.name }}</th>
			</tr>
		</thead>
		<tbody>
			{% if tasks is defined %}
				{% for task in tasks %}
					<tr>
						<td>{{ task.name }}</td>
						<td>{{ task.description }}</td>
						<td>{{ task.dueAt | date('d/m/Y')}}</td>
						<td>{{ task.tag.name }}</td>
					</tr>
				{% endfor %}
			{% endif %}
		</tbody>
	</table>
{% endblock %}
