{% extends 'base.html.twig' %}

{% block title %}
	{{'tag.cTabTitle'|trans}}
{% endblock %}

{% block body %}
	<h1>{{'tags.ctTitle'|trans}}</h1>

	{{ include('tag/_form.html.twig') }}

	<a href="{{ path('tag_listing') }}">{{'general.button.back_to_list'|trans}}</a>
{% endblock %}
